*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

body{
    background-color: #4a4949;
}

h1{
    color: red;
}

h2{
    color: white;
    margin: 10px;
}

#main_film, #main_tv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}


.film, .tv{
    margin: 10px;
}

.poster{
    box-shadow: 0px 0px 0px 2px white;
    cursor: pointer;
}

.info{
    display: none;
    background-color: black;
    color: white;
    width: 342px;
    height: 513px;
}

.poster:hover .info{
    display: block;
    z-index: 1;
}